.TodoBlock{
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 254, 254, 0.877);
    border-radius: 30px;
    text-align: center;
}
h1{
    background-color: white;
}
.todoBody{
    width: 50vw;
    height: 40vh;
    background-color: khaki;
    box-shadow: 0px 2px 3px black;
    overflow-y: scroll;
}
.todoBody::-webkit-scrollbar{
    display: none;
}
.task{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    /* width: 40vw; */
}
.taskCheck{
    width: 20px;
    height: 20px;
}
.taskDetail{
    width: 60%;
}
.taskDelete{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:none;
    box-shadow: -1px 1px 2px black;
}
.taskDelete:hover{
    background-color: red;
    color: white;
}
/* for create task */
.input{
    height: 50px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 0 0 30px 30px;
    margin-bottom: 10px;
    box-shadow: -1px 1px 2px black;
    font-size: 1.2rem;
    text-align: center;
}